<footer class="mt-auto py-2">
  <div class="container-fluid">
      <hr class="py-0 bg-light" />
        <div class="row">
            <div class="col-md-6">Par Jonathan Piscitello Classe 1C.<span class="small"><br><a href="https://www.youtube.com/channel/UCGRKNgC2Qi2HxZ_aY4s1EWw" target="_blank">Petite chaîne Youtube</a></span></div>
            <div class="col-md-3"></div>
            <div class="col-md-3 text-right small align-self-end">2020.05.28</div>
        </div>
  </div>
</footer>
