{% extends "base.html" %}
{% block title %} Homepage Projet Jonathan {% endblock %}
{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<br>
			<br>
			<h3>
				Projet De Jonathan Piscitello
			</h3>
			<p>
				Voici mon projet pour le module 104<br>
			</p>
			<ul>
				<li class="list-item">
					Ce projet m’a permis de faire une base de données sur le Modélisme en sachant que se projet est normalement uniquement pour mon père.<br><br>
					Durant ce deuxième semestre, j’ai pu apprendre et oui j’ai dit APPRENDRE un peu de Python et de SQL.<br><br>
					Ce deuxième semestre a été soumis a une épidémie qui a touché un bon nombre de personne, ce fameux COVID-19. <br><br>
					Je sais que vous allez probablement ne pas lire cela mais, je tenais à vous remercier pour m’avoir motivé à continuer votre projet qui m’a fois est ce qu’il est !<br><br>
					En effet, vous étés le seul enseignant (j’allais écrire prof) qui m’a permis de me dire : allez vas-y tu es capable, me surpassé.<br><br>
					Je pense que ma note ne montrera pas le nombre d’heure passées sur se projet. Mais un grand merci.
				</li>

			</ul>
<!--			<button onclick="window.location.href = 'https://waytolearnx.com';"> Cliquez ici </button>-->
	</div>
</div>
{% endblock %}