{% extends "base.html" %}
{% block title %} Afficher GENRES {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Personnes à disposition.
			</p>
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            Id de la Personne
                        </th>
                        <th class="align-middle">
                            Prenom de la personne
                        </th>
                        <th class="align-middle">
							Nom de la personne
                        </th>
                        <th class="align-middle">
							Age de la personne
                        </th>
                        <th class="align-middle">
							Genre de la personne
                        </th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="text-center">
							{{ row.id_personne }}
						</td>
						<td class="align-middle">
							{{ row.prenom_personne }}
						</td>
						<td class="align-middle">
							{{ row.nom_personne }}
						</td>
						<td class="align-middle">
							{{ row.age_personne }}
						</td>
						<td class="align-middle">
							{{ row.genre_personne }}
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('genres_add') }}" role="button">Ajouter</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('genres_edit', id_personne_edit_html=row.id_personne) }}" role="button">Modifier</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-danger" href="{{ url_for('genres_select_delete', id_personne_delete_html=row.id_personne) }}" role="button">Supprimer</a>
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucun genre.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('genres_add') }}" role="button">Ajouter</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}

