{% extends "base.html" %}
{% block title %} Ajouter une personne{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<br>
			<br>
			<p>
				Clavioter une nouvelle personne
			</p>
			<form method="POST">
				<div class="form-group">
					<label for="prenom_personne">
						Prénom de la personne :
					</label>
					<input type ="text" class="form-control" name="name_genre_html" placeholder="Ex : Jonathan"/>
					<label for="name_personne">
						Nom de la personne :
					</label>
					<input type ="text" class="form-control" name="name_personne_html" placeholder="Ex : Piscitello"/>
					<label for="age_personne">
						Age de la personne :
					</label>
					<input type ="number" min="1" max="130" class="form-control" name="age_personne_html" placeholder="Entre 1 et 130"/>
					<label for="genre_personne">
						Genre de la personne :
					</label>
					<br>

					<input type="radio" id="Homme" name="genre_personne_html" value="Homme">
					<label for="Homme">Homme</label>
  					<input type="radio" id="Femme" name="genre_personne_html" value="Femme">
  					<label for="Femme">Femme</label>
  					<input type="radio" id="Autre" name="genre_personne_html" value="Autre">
					<label for="Autre">Autre</label>

				</div>
				<button type="submit" class="btn btn-primary">
					Enregistrer la personne
				</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
