{% extends "base.html" %}
{% block title %}Edit GENRE{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Modifier cette personne.
			</p>
			<form method="POST" action="{{ url_for('genres_update') }}">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>
                                Id de la Personne
                            </th>
                            <th>
                                Prenom de la personne
                            </th>
                            <th class="align-middle">
							    Nom de la personne
                            </th>
                            <th class="align-middle">
							    Age de la personne
                            </th>
                            <th class="align-middle">
							    Genre de la personne actuel
                            </th>
                            <th class="align-middle">
							    Modifier le genre
                            </th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tbody>
                            <tr>
                                <td>
                                    <input type="hidden" name="id_personne_edit_html" value="{{ row.id_personne }}"/>
                                </td>
                                <td>
                                        <input type = "text" name = "name_edit_prenom_personne_html" value="{{ row.prenom_personne }}"/>
                                </td>
                                <td>
                                    <input type = "text" name = "name_edit_pgenre_html" value="{{ row.nom_personne }}"/>
                                </td>
                                <td>
                                    <input type ="number" min="1" max="130" name = "age_edit_html" value="{{ row.age_personne }}"/>
                                </td>
                                <td>
                                    <input type = "text" value="{{ row.genre_personne }}" disabled/>
                                </td>

                                <td>
                                    <input type="radio" id="Homme" name="genre_edit_p_html" value="Homme">
                                    <label for="Homme">Homme</label>
                                    <input type="radio" id="Femme" name="genre_edit_p_html" value="Femme">
                                    <label for="Femme">Femme</label><br>
                                    <input type="radio" id="Autre" name="genre_edit_p_html" value="Autre">
                                    <label for="Autre">Autre</label>
                                </td>
                                <p>DOIT être rempli --> Modifier le genre. Sinon dysfonctionnement</p>
                                <td>
                                    <button class="btn btn-warning" type="submit">Modifier</button>
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
			</form>
		</div>
	</div>
</div>
{% endblock %}
