{% extends "base.html" %}
{% block title %}DELETE PERSONNE{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Effacer cette personne.
			</p>
			<form method="POST" action="{{ url_for('genres_delete') }}">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>
                                Id de la personne
                            </th>
                            <th>
                                Numéro de l' Id personne :
                            </th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tbody>
                            <tr>
                                <td>
                                    <input type="hidden" name="id_personne_delete_html" value="{{ row.id_personne }}"/>
                                </td>
                                <td>
                                    {{ row.id_personne }}
                                </td>
                                <td class="text-center" class="align-middle">
                                    <button class="btn btn-danger" type="submit">EFFACER</button>
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
			</form>
		</div>
	</div>
</div>
{% endblock %}
