{% extends "base.html" %}
{% block title %} Afficher TELEPHONES {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Téléphones à disposition.
			</p>
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            Id du téléphone
                        </th>
                        <th class="align-middle">
                            Téléphone
                        </th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="text-center">
							{{ row.id_telephone }}
						</td>
						<td class="align-middle">
							{{ row.num_tel }}
						</td>

						<td class="text-center" class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('telephones_add') }}" role="button">Ajouter</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('telephones_edit', id_telephone_edit_html=row.id_telephone) }}" role="button">Modifier</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-danger" href="{{ url_for('telephones_select_delete', id_telephone_delete_html=row.id_telephone) }}" role="button">Supprimer</a>
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucun Téléphones.
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('telephones_add') }}" role="button">Ajouter</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}

