{% extends "base.html" %}
{% block title %}Edit TELEPHONES{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Modifier ce numéro de téléphone.
			</p>
			<form method="POST" action="{{ url_for('telephones_update') }}">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>
                                Id du téléphone
                            </th>
                            <th>
                                Téléphone
                            </th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tbody>
                            <tr>
                                <td>
                                    <input type="hidden" name="id_telephone_edit_html" value="{{ row.id_telephone }}"/>
                                </td>
                                <td>
                                    <input type = "tel" name = "edit_num_tel_html" value="{{ row.num_tel }}" pattern="[0-9]{3} [0-9]{3} [0-9]{4}"/>
                                </td>
                                <td class="text-center" class="align-middle">
                                    <button class="btn btn-warning"  type="submit">Modifier</button>
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
			</form>
		</div>
	</div>
</div>
{% endblock %}
