{% extends "base.html" %}
{% block title %} Ajouter un téléphone{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<br>
			<br>
			<p>
				Clavioter un nouveau téléphone
			</p>
			<form method="POST">
				<div class="form-group">
					<label for="Mails">
						Téléphone :
					</label>
					<input type ="tel" class="form-control" name="num_tel_html" pattern="[0-9]{3} [0-9]{3} [0-9]{4}" placeholder="012 345 6789"/>
					<br>
				<button type="submit" class="btn btn-primary">
					Enregistrer le téléphone
				</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
