{% extends "base.html" %}
{% block title %}Edit GENRE{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Modifier cette personne.
			</p>
			<form method="POST" action="{{ url_for('films_update') }}">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>
                                Id de l'objet
                            </th>
                            <th class="align-middle">
							    Marque Objet
                            </th>
                            <th class="align-middle">
							    Utiliter Objet
                            </th>
                            <th class="align-middle">
							    Taille Objet
                            </th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tbody>
                            <tr>
                                <td>
                                    <input type="hidden" name="id_objet_edit_html" value="{{ row.id_objet }}"/>
                                </td>
                                <td>
                                        <input type = "text" name = "edit_marque_objet_html" value="{{ row.marque_objet }}"/>
                                </td>
                                <td>
                                    <input type = "text" name = "edit_utiliter_objet_html" value="{{ row.utiliter_objet }}"/>
                                </td>
                                <td>
                                    <input type = "text" name = "edit_taille_objet_html" value="{{ row.taille_objet }}"/>
                                </td>
                                <td class="text-center" class="align-middle">
                                    <button class="btn btn-warning" type="submit">Modifier</button>
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
			</form>
		</div>
	</div>
</div>
{% endblock %}
