{% extends "base.html" %}
{% block title %} Ajouter une personne{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				<br>
				<br>
				Clavioter une nouvelle Objet
			</p>
			<form method="POST">
				<div class="form-group">
					<label for="marque_objet_html">
						Marque de l'objet :
					</label>
					<input type ="text" class="form-control" name="marque_objet_html" placeholder="Ex : Märklin"/>
					<label for="utiliter_objet_html">
						Utiliter de l'objet :
					</label>
					<input type ="text" class="form-control" name="utiliter_objet_html" placeholder="Ex : Rouler"/>

					<label for="taille_objet_html">
						Taille de l'objet :
					</label>
					<input type ="text" class="form-control" name="taille_objet_html" placeholder="Ex : HO"/>
				</div>
				<button type="submit" class="btn btn-primary">
					Enregistrer l'objet
				</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
