{% extends "base.html" %}
{% block title %} Afficher FILMS {% endblock %}
{% block body %}
<div class="container">
		<div class="col-md-12">
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            id
                        </th>
                        <th class="align-middle">
                            Marque Objet :
                        </th>
                        <th class="align-middle">
                            Utiliter de l'objet :
                        </th>
                        <th class="align-middle">
                            Taille de l'objet :
                        </th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="text-center">
							{{ row.id_objet }}
						</td>
						<td class="align-middle">
							{{ row.marque_objet }}
						</td>
						<td class="align-middle">
							{{ row.utiliter_objet|default("", True) }}
						</td>
						<td class="align-middle">
							{{ row.taille_objet|default("", True) }}
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('films_add') }}" role="button">Ajouter</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('films_edit', id_objet_edit_html=row.id_objet) }}" role="button">Modifier</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-danger" href="{{ url_for('films_select_delete', id_objet_delete_html=row.id_objet) }}" role="button">Supprimer</a>
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucun film.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('films_add') }}" role="button">Add</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
</div>
{% endblock %}
