{% extends "base.html" %}
{% block title %}Edit GENRE{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Modifier ce mail.
			</p>
			<form method="POST" action="{{ url_for('mails_update') }}">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>
                                Id du mail
                            </th>
                            <th>
                                Mail
                            </th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tbody>
                            <tr>
                                <td>
                                    <input type="hidden" name="id_mail_edit_html" value="{{ row.id_mail }}"/>
                                </td>
                                <td>
                                        <input type = "text" name = "edit_adresse_mail_html" value="{{ row.adresse_mail }}"/>
                                </td>
                                <td class="text-center" class="align-middle">
                                    <button class="btn btn-warning" type="submit">Modifier</button>
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
			</form>
		</div>
	</div>
</div>
{% endblock %}
