{% extends "base.html" %}
{% block title %} Ajouter un mail{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<br>
			<br>
			<p>
				Clavioter un nouveau mail
			</p>
			<form method="POST">
				<div class="form-group">
					<label for="Mails">
						Mail :
					</label>
					<input type ="email" class="form-control" name="adresse_mail_html"/>
					<br>
				<button type="submit" class="btn btn-primary">
					Enregistrer le mail
				</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
