{% extends "base.html" %}
{% block title %} Afficher FILMS {% endblock %}
{% block body %}
<div class="container">
	<div class="col-md-12">
		<table class="table table-responsive-sm">
            {% if data %}
				<thead>
					<tr>
						<th class="" >
						  Id
						</th>
						<th class="" >
						   Marque Objet :
						</th>
						<th class="" >
						  Utiliter de l'objet :
						</th>
						<th class="" >
						  Taille de l'objet :
						</th>
					</tr>
				</thead>
			{% endif %}
			{% for row in data %}
			<tbody>
				<tr>
					  <th class="align-middle">
						  {{ row.id_objet }}
					  </th>
					  <th class="align-middle">
						{{ row.marque_objet }}
					  </th>
					  <th class="align-middle">
						{{ row.utiliter_objet }}
					  </th>
					  <th class="align-middle">
						{{ row.taille_objet }}
					  </th>
					  <td class="text-center" class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('films_add') }}" role="button">Ajouter</a>
						</td>
					  <th class="text-center" class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('films_edit', id_objet_edit_html=row.id_objet) }}" role="button">Modifier</a>
						</th>
					  <th class="text-center" class="align-middle">
							<a class="btn btn-danger" href="{{ url_for('films_select_delete', id_objet_delete_html=row.id_objet) }}" role="button">Supprimer</a>
						</th>
					<tr>
						<td class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('gf_edit_genre_film_selected', id_objet_personne_edit_html=row.id_objet) }}" role="button">Modifier</a>
						</td>
						<td class="align-middle" colspan="5">
							{{ row.GenresFilms|default("PAS DE GENRES", True) }}
						</td>
					</tr>
				</tr>
			</tbody>
			{% else %}
				<tbody>
					<tr>
						<td>
							Aucun film.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Add</a>
						</td>
					</tr>
				</tbody>
			{% endfor %}

		</table>
	</div>
</div>
{% endblock %}
